* {
    margin: 0;
    font-family: Arial, sans-serif;
    padding: 0px;
    box-sizing: border-box;
}

.container-home {
    height: 100vh;
    background-color: #000;
    background-image: url(/assets/bg-first.jpg);
    background-size: cover;
    background-position: center;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: #fff;
    font-size: 1rem;
}

a:hover {
    color: orange;
}

header {
    position: relative;
    padding: 0 2rem;
    background-color: #191919;
}

.navbar {
    width: 100%;
    height: 60px;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar .logo a {
    font-size: 1.5rem;
    font-weight: bold;
}

.navbar .links {
    display: flex;
    gap: 2rem;
}

.contact-person {
    margin: 10px;
    display: flex;
    padding: 5px;
    justify-content: center;
    align-items: center;
    text-align: center;
    cursor: pointer;
    background-color: #FF9800;
    color: #fff;
    border: none;
    outline: none;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    font-size: 0.8rem;
    font-weight: bold;
    cursor: pointer;
}

.contact-person:hover {
    scale: 1.05;
    color: #fff;
}

.navbar .toggle_btn {
    color: #fff;
    font-size: 1.5rem;
    cursor: pointer;
    display: none;
}

.action_btn {
    background-color: orange;
    color: #fff;
    padding: 0.5rem 1rem;
    border: none;
    outline: none;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    font-size: 0.8rem;
    font-weight: bold;
    cursor: pointer;
}

.action_btn:hover {
    scale: 1.05;
    color: #fff;
}

.container-about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: justify;
    height: 40%;
    width: 60%;
    margin: auto;
    color: #fff;
    height: calc(40vh - 60px);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.container-about h1 {
    margin-bottom: 10px;
}

.dropdown_menu {
    display: none;
    position: absolute;
    right: 2rem;
    top: 60px;
    height: 0;
    width: 300px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(15px);
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    overflow: hidden;
    transition: height .2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    -webkit-transition: height .2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    -moz-transition: height .2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    -ms-transition: height .2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    -o-transition: height .2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.dropdown_menu.open {
    height: 240px;
}

.dropdown_menu li {
    padding: 0.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dropdown_menu .action_btn {
    width: 100%;
    display: flex;
    justify-content: center;
}

/* Hero */
section#hero {
    height: calc(100vh - 60px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #fff;
}

.hero h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
}

@media (max-width: 992px) {
    .navbar .links, 
    .navbar .action_btn {
        display: none;
    }

    .container-about {
        height: 30%;
        width: 50%; /* Adjust the max-width for smaller screens */  
    }

    .navbar .toggle_btn {
        display: block;
    }

    .dropdown_menu {
        display: block;
    }
}

@media (max-width: 576px) {
    .dropdown_menu {
        left: 2rem;
        width: unset;
    }

    .container-about {
        height: 30%;
        width: 50%; /* Adjust the max-width for smaller screens */
        font-size: 15px;
    }
}